/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';

/* Application-wide Styles */
h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
}

h2,
h3 {
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

body,
input[type="text"],
button {
    color: #333;
    font-family: Cambria, Georgia, serif;
}

button {
    background-color: #eee;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: black;
    font-size: 1.2rem;
    padding: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

button:hover {
    background-color: black;
    color: white;
}

button:disabled {
    background-color: #eee;
    color: #aaa;
    cursor: auto;
}

/* everywhere else */
* {
    font-family: Arial, Helvetica, sans-serif;
}

/* CSS Animations to add to items */
.fade-in {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
}

@keyframes color-scroll {
    0% {
        background-position: 100% 0;
    }

    100% {
        background-position: -200% 0;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.hover-scale {
    transition: transform 0.3s ease;
}

.hover-scale:hover {
    transform: scale(1.025);
}

.slide-in-left {
    transform: translateX(-100%);
    animation: slideInLeft 0.5s ease-in-out forwards;
}

@keyframes slideInLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

.slide-in-right {
    transform: translateX(100%);
    animation: slideInRight 0.5s ease-in-out forwards;
}

@keyframes slideInRight {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

.slide-in-top {
    transform: translateY(-100%);
    animation: slideInTop 0.5s ease-in-out forwards;
}

@keyframes slideInTop {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

.slide-in-bottom {
    transform: translateY(100%);
    animation: slideInBottom 0.5s ease-in-out forwards;
}

@keyframes slideInBottom {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0);
    }
}

.logo {
    animation: pulse 2s ease-in-out infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}