<h2>My Heroes</h2>
<div class="form-group">
    <label for="new-hero" class="form-label">Hero Name:</label>
    <input type="text" class="form-control" #heroName>
    <button class="btn btn-success" (click)="add(heroName.value)">Add</button>
</div>
<ul class="heros list-group mb-3">
    <li class="list-group-item" *ngFor="let hero of heroes">
        <a routerLink="/detail/{{hero.id}}">
            <span class="badge bg-secondary">{{hero.id}}</span>
            <span class="name h5 px-3">{{hero.name}}</span>
        </a>
        <button type="button" class="btn" title="delete hero" (click)="delete(hero)">x</button>
    </li>
</ul>